# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.pytest_cache/

# Enregistrements
server/recordings/*.wav
server/recordings/*.webm
server/recordings/*.mp3

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
/.env
/recordings/
